/*pour mobile*/
@media only screen and (max-width:380px){
	 header{
		flex-direction: column;
		margin-bottom: 100px;
	}
	
	nav{
		width: 100%;
	}
	.navBar{
		width: 100%;
	}
	.sizeLien1{
		border-top: none;
        border-bottom: 3px solid #0065fc;
		padding-bottom: 30px;
		width:50%;
		text-align: center;
		margin-left: -75px;
	}
	.sizeLien2{
		padding-bottom: 30px;
		border-bottom:3px solid #f2f2f2; 
		width:50%;
		text-align: center;
		margin-left: 0%;
		margin-right: -60px;
	}
	.sizeLien2:hover{
	border-bottom:3px solid #0065fc;
}
    .sizeLien3{
	position: absolute;
	right: 0;
	top: 20px;
	}
	.sizeLien3:hover{
		border-bottom:3px solid #0065fc;
	}

	/**filter**/
	.filterSearch{
		border: none;
	}
     .mobileNone{
	  display: none;
     }
	 .desktopNone{
		display: block;
		
	}  
  .searchMobile{
	  width: 45px;
	  border-radius: 15px;
  }
  .searchIconMobile{
	  color: white;
  }
	.list{
		flex-wrap: wrap;
	}
	.marginFilterList{
		margin-bottom: 10px;
	}
	.mobileFamilial{
		position: absolute;
	}
	
	.allBloc{
		flex-direction: column;
		width: 100%;
		margin-left: 4%;
	}
	
	.allBloc article:nth-child(1){
	  order: 1;
	}
	.allBloc article:nth-child(2){
		order: -1;
	  }
	  .blocPopulaire {
		flex: none;
		width:90%;
		margin-left: 0;
		padding: 5%;
		
	}
	.blocHébergement{
		flex: none;
		width: 90%;
		margin-right: 0;
		margin-top: 30px;
		padding: 5%;
		background-color: white;
		margin-left: 2%;
		margin-bottom: 1050px;
	}
	.cubeHébergement{
		width: 100%;
	}	
	.bloc1{
		display: flex;
		flex-direction: column;
	}
	
	/* Activité */
	 .blocActivités{
		flex-direction: column;
		margin-bottom: 1300px;
		margin-left: 4%;
		
	 }
	 h2{
		margin-left: 20px;
	} 
	 .activitésImg{
		 height: 200px;
		 width: 100%;
		 padding-top: 10px;
	 }
	 .mobileCubeActivités{
        margin-top: 20px;
		padding-top:10px ;
		width: 96%;
	 }
	 .blocActivités2356{
          width: 96%;
	 }
	/* footer */
	footer{
		flex-direction: column;
		padding-bottom:20px ;
		width: 100%;
	}
	.footer1{
		padding-left: 30px;
		width: 100%;
	}
	.footer2{
		padding-left: 30px;
		width: 100%;
	}
	.footer3{
		padding-left: 30px;
		width: 100%;
		padding-right: 0;
	} 
	

}