/***** header *****/
body{
	font-family:Raleway;
	
}

header{
	display: flex;
	justify-content: space-between;
	justify-items:center ;
	height: 100px;
}
#headerImg{
	margin-bottom:10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

 
	
nav{
	font-size: 18px; 
	width: 45%;
	display: flex;
	justify-content:space-around ;
	align-items: center;
}
.navBar{
	 display: flex;
	justify-content:space-around ;
	align-items: center;
}
nav a{
    text-decoration: none;	
}

.sizeLien1{	
border-top: solid 3px #0065fc;
height:99px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 30%; 
}
.sizeLien2{
	height: 99px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
	margin-left: 30%;
} 
.sizeLien3{
	display: flex;
    justify-content: space-around;
    align-items: center; 
	margin-left: 30%;
}
.sizeLien2:hover{
border-top: solid 3px blue;
}

.colorlien1{
	color: blue;
}
.colorlien2{
	color: black;
}
.colorlien2:hover{
color: #0065fc;
}
.colorlien3{
	color: blue;
}



/*****  filter  *****/
.filterSearch{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	border-radius: 10px;
	border:0.5px solid #eee7e7;
}

.searchBar{
	height: 50px;
	width: 250px;
	font-size: 18px;
	font-weight: bold;
	color:black ;
	display: flex;
	justify-content: center;
	align-self: center;
	border: none;
	padding-left: 22px;
}
.search{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0065fc;
	height: 50px;
	width: 120px;
	color: white;
	cursor: pointer;
	border-radius: 0 10px 10px 0;
}
.search:hover{
	color: #0065fc;
	background-color: #f2f2f2;
}


/*****list*****/
.list{
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 40px;
	
}
.filterTitre{
	margin-right: 20px;
	height:50px ;
	
}
.filterItem{
	display: flex;
}
.filterTextIcon:hover{
	background-color:#eeecf1;
	cursor: pointer;
	transform: scale(1.015)
}
.filterTextIcon{
	border:2px solid #e7edee;
	height: 50px;
	border-radius: 30px;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.filterIcon{
	border-radius: 25px;
	width: 30px;
	height: 25px;
	padding: 10px;
	padding-top: 20px;
	color:rgb(98, 98, 233);
	background-color: #eeecf1;
	display: flex;
	align-items: center;
	text-align: center;
}
.text{
	padding: 10px;
}

/*****info icon*****/
.info{
	display: flex;
	align-items: center;
}
.iconInfo{
	color: blue;
	width: 20px;
	height: 20px;
	border:2px solid #eee7e7;
	border-radius: 25px;
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/**section**/
.allBloc{
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;  
}
/*****Hébergement*****/

.blocHébergement{
	width: 62%;
    height: 650px;
    margin-right: 1%; 
	margin-left: 1%;
    background-color: rgb(238, 231, 231);
     padding-left: 1%;
    padding-right: 1%;  
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.sizeImage{
	height: 120px;
	width: 100%;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
}
.bloc1{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 10px;
}
.link {
	padding-top: 20px;
}
.cubeHébergement{
	width: 30%;
	height: 250px;
	margin-top: 10px;
	background-color: white;
	padding: 1% ;
	border-radius: 20px;
}
.cubeHébergement:hover{
cursor: pointer;
transform: scale(1.015)
}
.étoileIcon{
	color:blue;
}
.étoileIcon2{
	color: #eee7e7;
}
.afficherPlus{
	font-weight: bold;
}

/*****populaire*****/
.blocPopulaire{
    width: 29%;
    height:650px;
    /* margin-left: 20px; */
    border-radius: 10px;
    background-color: rgb(231, 224, 224);
    padding-left: 20px; 
}
.titreIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right:20px ;

}

.blocImg{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: auto;
	border-radius:20px ;
	padding: 1% 0% 1% 1%;
	margin-bottom: 20px;
	width: 97%;
}
.blocImg:hover{
	cursor: pointer;
	transform: scale(1.015)
}
.détailImg{
	width: 45%;
}
.Img{
    padding-left: 5px;
    height: 160px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    width: 90%;
}
.cubeDétail{
	width: 40%;
	padding-left:3%; 
    padding-right:12%; 
}

/*****Activités*****/
.activités{
	margin-top: 50px;
	margin-bottom:50px;
	width: 100%;
}
.blocActivités{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 98%;
	height:600px;
}
.blocActivités2356{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width:98%;
	height: 600px;
}
.cubeActivités{
	width: 100%;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 1px #f2f2f2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin: 3%;
}
.cubeActivités:hover{
	cursor: pointer;
	transform: scale(1.01);
}
.cubeActivités2356{
	width: 100%;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 1px #f2f2f2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cubeActivités2356:hover{
	cursor: pointer;
	transform: scale(1.01);
}

.activitésImg1{
	width: 100%;
	height: 530px;
	border-radius: 15px 15px 0 0;
	object-fit: cover;
}

.activitésImg2{
	width: 100%;
	height: 280px;
	border-radius: 15px 15px 0 0;
	object-fit: cover;
}
.activitésImg3{
	width: 100%;
	height: 150px;
	border-radius: 15px 15px 0 0;
	object-fit: cover;
}
.activitésImg6{
	width: 100%;
	height: 200px;
	border-radius: 15px 15px 0 0;
	object-fit: cover;
}
.titre{
	height: 70px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 5%;
	width: 95%;
}
h3{
   font-size: 17px;
}

/*****footer*****/
footer{
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #f2f2f2;
}
.footer1{
	padding-left: 30px;
}
.footer3{
	padding-right: 500px;
}
.footerBloc:hover{
    cursor: pointer;
}
.decorationNone{
	text-decoration: none;

}
.lienFooter{
	color: black;
}
.divLienFooter{
	height: 30px;
}
@media (min-width: 800px) and (max-width:1200px) {
	header{
		flex-direction: column;
		margin-bottom: 100px;
	}
	
	.sizeLien3{
	margin-right: 30px;
	position: absolute;
	right: 30px;
	top: 20px;
	}
	.navBar{
		width: 100%;
	}
	.sizeLien1{
		border-top: none;
        border-bottom: 3px solid #0065fc;
	}

	
	.sizeLien2:hover{
		border-top: none;
		border-bottom: 3px solid #0065fc;
	}
	.allBloc{
		flex-direction: column;
		max-width: 100%;
	}
	.allBloc article:nth-child(1){
      order: 1;
	}
	.allBloc article:nth-child(2){
		order: -1;
	  }
	.blocHébergement{
		width: 100%;
	}
	.blocPopulaire {
        width:100%;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 2%;
		padding-bottom: 2%;
	}
	footer{
		flex-direction: column;
		padding-bottom:20px ;
		width: 100%;
	}
	.footer1{
		padding-left: 30px;
		width: 100%;
	}
	.footer2{
		padding-left: 30px;
		width: 100%;
	}
	.footer3{
		padding-left: 30px;
		padding-right: 0;
		width: 100%;
	}
     
}

		

